.gradient-btn {
  background-image: linear-gradient( 0deg, rgb(234,116,0) 0%, rgb(238,132,0) 48%, rgb(242,148,0) 100%);
  width: 347px;
  height: 80px;  
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer; 
  border:none;
  outline:none;
}